[Unit]
Description=Dahua NVR to MQTT bridge
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=dahua
Group=dahua

ExecStart=/opt/dahua2mqtt/dahua2mqtt
Environment="CONFIG_FILE=/etc/dahua2mqtt/config.yaml"

# -------------------------------------------------------------------
# Restart policy
# -------------------------------------------------------------------
Restart=always
RestartSec=2

# -------------------------------------------------------------------
# Security Hardening
# -------------------------------------------------------------------
NoNewPrivileges=yes
CapabilityBoundingSet=

ReadOnlyPaths=/opt/dahua2mqtt
ReadWritePaths=/var/log/dahua2mqtt

ProtectSystem=strict
ProtectHome=true
PrivateTmp=true
RestrictAddressFamilies=AF_INET AF_INET6
DevicePolicy=closed
ProtectProc=invisible

ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectControlGroups=true

SystemCallFilter=@system-service
RestrictSUIDSGID=yes
LockPersonality=true

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
